* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1.3rem;
  background-color: lightgray;
}

.app--container {
  grid-template-columns: 1fr;
}

@media (min-width: 37.5rem) {
  .app--container {
    display: grid;
    grid-template-columns: 12.5rem 1fr;
    gap: 1.3rem;
  }
}
.notes--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  grid-auto-rows: minmax(15.625rem, auto);
  gap: 1.3rem;
}

.note--item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.notes--header {
  display: flex;
  justify-content: flex-end;
}

.notes--header button {
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  max-width: fit-content;
}

h2 {
  margin: 0;
}

.note--form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

textarea,
input {
  border-radius: 0.3125rem;
  border: 1px solid black;
  padding: 0.625rem;
  font-size: 1rem;
}

.note--form button {
  border-radius: 0.3125rem;
  background-color: rgb(64, 154, 184);
  border: none;
  padding: 0.625rem;
  font-size: 1rem;
  color: #ffffff;
}

.note--form button:hover {
  background-color: rgb(106, 175, 198);
  cursor: pointer;
}